

html,
body {
  background-color: #fff;
}

h3,
h4 {
  text-align: center;
  margin-bottom: 0.266rem;
}

h3 {
  color: #3b2c8f;
}

h4 {
  color: #337ab7;
}

li {
  border-top: 0.266rem solid #f5f5f5;
  padding-top: 0.266rem;
  padding-bottom: 0.266rem;
}

li .col-2 ,
li .col-4{
  color: #d43f3a;
}

li .col-2,
li .col-8 {
  margin-top: 0.266rem;
}

li .col-8 {
  padding-left: 0.34rem;
}

.container {
  margin-top: 0.4rem;

  margin-bottom: 1.5rem;
}

.share {
  position: fixed;
  top: 3rem;

  right: 0;
  width: 1rem;
}

.share button {

  width: 100%;


  background-color: #337ab7;
  color: #fff;

  padding: 0.266rem;
  border: none;
}
.share i {
  display: inline-block;
  font-size: 0.5rem;
  margin-bottom: 0.2rem;
}
.con-in {
  padding-left: 0.4rem;
}
.con-in li {
  border: none;
  list-style: decimal;
}