body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:0.16rem"苹方","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
/**{*/
/*-webkit-box-sizing: border-box;*/
/*-moz-box-sizing: border-box;*/
/*box-sizing: border-box;*/
/*}*/
*{
    margin: 0;
    padding: 0;
}
html,
body{
    color: #333333;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
.fz14{
    font-size: 0.186667rem !important;
}
.fz20{
    font-size: 0.266667rem !important;
}
.fz26{
    font-size: 0.346667rem !important;
}
.fz28{
    font-size: 0.373333rem !important;
}
.fz30{
    font-size: 0.4rem !important;
}
.fz32{
    font-size: 0.426667rem !important;
}
.fz36{
    font-size:0.48rem !important;
}

.fz40{
    font-size: 0.533333rem !important;
}
.fz50{
    font-size: 0.866667rem !important;
}
.rccf_text_center{
    text-align: center;
}
.rccf_text_right{
    text-align: right;
}
.rccf_text_left{
    text-align: left;
}
.rccf_width_10{
    width: 10%;
}
.rccf_width_20{
    width: 20%;
}
.rccf_width_30{
    width: 30%;
}
.rccf_width_40{
    width: 40%;
}
.rccf_width_50{
    width: 50%;
}
.rccf_width_60{
    width: 60%;
}
.rccf_width_70{
    width: 70%;
}
.rccf_width_80{
    width: 80%;
}
.rccf_width_90{
    width: 90%;
}
.rccf_width_100{
    width: 100%;
}
.rccf_margin_zero{
    margin-top: 0;
}
.rccf_margin_sm{
    margin: 0.266667rem;
}
.rccf_margin_left_sm{
    margin-left: 0.266667rem;
}
.rccf_margin_left{
    margin-left: 0.466667rem;
}
.rccf_margin_left_lg{
    margin-left: 0.666667rem;
}
.rccf_margin_top_sm{
    margin-top:0.266667rem ;
}
.rccf_margin_top{
    margin-top:0.466667rem ;
}
.rccf_margin_bottom{
    margin-bottom: 0.466667rem;
}
.rccf_margin_bottom{
    margin-bottom: 0.466667rem;
}
.rccf_text_center{
    text-align: center;
}
.rccf_padding{
    padding: 0.466667rem;
}
.rccf_padding_vertival_sm{
    padding:0.266667rem 0;
}


.rccf_body{
    margin-bottom: 1.333333rem;
}
.rccf_grey_body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}
.rccf_border_bottom_lg{
    border-bottom: 0.266667rem solid #f5f5f5;
}

.rccf_disply_none{
    display: none;
}
.rccf_disply_block{
    display: block;
}

.rccf_blue_icon{
    color: #0c7cb5;
    padding-top: 0.1rem;
}
.rccf_text_black{
    color: #333333;
}