body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0
}

body {
    font: 12px "苹方", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2d374b;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

/**{*/
/*-webkit-box-sizing: border-box;*/
/*-moz-box-sizing: border-box;*/
/*box-sizing: border-box;*/
/*}*/
* {
    margin: 0;
    padding: 0;
}

html,
body {
    color: #333333;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/**:before,*/
/**:after{*/
/*content: " ";*/
/*clear: both;*/
/*}*/
.fz32 {
    font-size: 0.426667rem;
}

.fz30 {
    font-size: 0.4rem;
}

.fz26 {
    font-size: 0.346667rem;
}

.bg_6ea {
    background-color: #6ea8e2;
}

.bg_61d {
    background-color: #61d861;
}

.bg_f5c {
    background-color: #f5ca55;
}

.margin_b {
    margin-bottom: 1.1rem !important;
    border: none !important;
}

.margin_t {
    margin-top: 0.766667rem;
    margin-left: -0.2rem;
}

/*@media only screen and (min-width:1200px) {*/
/*html,body{*/
/*max-width: 375px !important;*/
/*font-size: 37.5px !important;*/
/*margin: 0 auto;*/
/*}*/
/*.foot{*/
/*position: fixed;*/
/*bottom: 0;*/
/*left: 14.2rem !important;*/
/*width: 8rem;*/
/*height: 1.2rem;*/
/*}*/
/*}*/

input::-webkit-input-placeholder { /* WebKit browsers */
    color: lightgray;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: lightgray;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: lightgray;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: lightgray;
}