
*[hidden] {
    display: none;
}

.head {
    height: 3.64rem;
    width: 100%;
    background-image: url("/image/market/head.png");
    background-size: 100% 100%;
}

.company {
    width: 4.173333rem;
    height: 0.973333rem;
    padding: 1.2rem 2.906667rem 0;
}

.title {
    width: 4.813333rem;
    height: 0.333333rem;
    padding: 0.133333rem 2.533333rem;
}

.company img,
.title img {
    width: 100%;
    height: 100%;
}

.contain {

}

.con {
    margin: 0.266667rem 0.4rem;
    text-align: center;
    padding-bottom: 0.266667rem;
    border-bottom: 0.266667rem solid #f3f3f3;
}

.ad_title {
    width: 4.933333rem;
    height: 0.72rem;
    background: #e94040;
    border-radius: 0.333333rem;
    color: #f3f3f3;
    margin: 0 auto 0.266667rem;
    padding-top: 0.14rem;
}

.con ul {
    display: flex;
}

.con li {
    width: 25%;
}

li img {
    width: 1.626667rem;
}

.ad_apply {
    width: 9.026667rem;
    height: 1rem;
    border: 0.02rem solid #e94040;
    border-radius: 0.233333rem;
    padding-top: 0.33333rem;
}

.products {
    /*position: relative;*/
    box-sizing: border-box;
    text-align: left;
    width: 9.2rem;
    height: 2.7rem;
    margin: 0.5333rem auto 0.5333rem;
    box-shadow: 0 0 0.2rem #666666;
    border-radius: 0.23333rem 0.23333rem 0.23333rem 0.23333rem;
}

.product_title {
    box-sizing: border-box;
    width: 100%;
    height: 1.04rem;
    color: #f3f3f3;
    padding-left: 0.4rem;
    padding-top: 0.266rem;
    border-radius: 0.23333rem 0.23333rem 0 0;
}

.product_info {
    box-sizing: border-box;
    width: 100%;
    height: 1.52rem;
    padding-left: 0.4rem;
    padding-top: 0.266rem;
    border-radius: 0 0 0.23333rem 0.23333rem;
}

.foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.6rem;
    background-color: #f3f3f3;
}

.btn {
    display: block;
    margin: 0.2rem auto;
    width: 8rem;
    height: 1.2rem;
    background-color: #F44154;
    color: white;
    border: none;
    border-radius: 0.23333rem;

}

.all_page {
    width: 100%;
    height: 17.8rem;
    overflow: hidden;
    background-image: url("/image/market/bac.png");
    background-size: 100% 100%;
}

.why {
    width: 3.653333rem;
    height: 1.2rem;
    margin-top: 0.493333rem;
    margin-left: 2.52rem;
}

.say {
    width: 0.84rem;
    height: 0.666667rem;
    margin-top: 0.45rem;
}

.company_1 {
    width: 5.733333rem;
    height: 1.346667rem;
    margin-top: 0.266667rem;
    margin-left: 2.133333rem;
}

.virtue {
    width: 6.666667rem;
    height: 0.8rem;
    margin-top: 0.466667rem;
    margin-left: 1.64rem;
}

.ap_form {
    box-sizing: border-box;
    width: 9.346667rem;
    height: 4.666667rem;
    margin: 1.466667rem auto;
    background-color: #ffffff;
    border-radius: 0.133333rem;
    box-shadow: 0 0 1px #f3f3f3;
}

.ap_input {
    box-sizing: border-box;
    width: 8.5rem;
    height: 1.333333rem;
    margin: 0 auto;
    padding-top: 0.506667rem;
    border-bottom: 0.00001rem solid #d2d2d2;
}

.ap_input input {
    border: none;
    font-size: 0.4rem;
}

.ap_btn .btn {
    color: darkred;
    display: block;
    width: 7.066667rem;
    height: 1.066667rem;
    margin: 0.533333rem auto;
}

.ill {
    text-align: center;
    color: #f3f3f3;
}